<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="footer__line"></div>
			<div class="footer__wrapper">
				<div class="footer__item">
					<h3 class="footer__item-title">
						Категорії
					</h3>
					<ul class="footer__item-box">
						<li><a class="footer__item-name" href="#">Готова продукція</a></li>
						<li><a class="footer__item-name" href="#">Фасади</a></li>
						<li><a class="footer__item-name" href="#">Плитні матеріали</a></li>
						<li><a class="footer__item-name" href="#">Фурнітура</a></li>
						<li><a class="footer__item-name" href="#">Роспродаж</a></li>
					</ul>
				</div>
				<div class="footer__item">
					<h3 class="footer__item-title">
						Купівля
					</h3>
					<ul class="footer__item-box">
						<li><a class="footer__item-name" href="#">Доставка і оплата</a></li>
						<li><a class="footer__item-name" href="#">Обмін і повернення</a></li>
						<li><a class="footer__item-name" href="#">Політика конфіденційності</a></li>
					</ul>
				</div>
				<a href="#"><img src="../img/footer-logo.png" alt=""></a>
				<div class="footer__block">
					<a class="btn btn-footer" href="#">Залишити скаргу</a>
					<h3 class="footer__block-title">Наші партнери</h3>
					<div class="footer__block-wrap">
						<div class="footer__block-item first"></div>
						<div class="footer__block-item"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__bottom-text">
			Developed by Fairtech.Group
		</div>
	</div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/slick.js"></script>
<script src="js/ion.rangeSlider.js"></script>
<script src="js/my.js"></script>

