<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<img src="../img/header-logo.png" alt="">
			<div class="header__contact">
				<p class="header__contact-data">Пн - Нд 10:00 - 19:00</p>
				<a class="header__contact-number" href="#">0 800 900 50 20</a>
				<a class="header__contact-feedback" href="#">Зворотній зв'язок</a>
			</div>
			<div class="header__name">
				<div class="header__name-icon"></div>
				<div class="header__name-wrap">
					<p class="header__name-item">Сергій Сергійович</p>
					<p class="header__name-city">Ваше місто: Мукачево</p>
				</div>
			</div>
			<a class="header__basket" href="#"></a>
			<div class="drop__down">
				<ul class="drop drop-1">
					<li class="drop__box">
						<a class="drop__btn drop__btn-1" href="#">ua</a>
						<ul class="drop__menu drop__menu-1">
							<li>
								ru
							</li>
							<li>
								en
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>