@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?8m935o');
  src:  url('../fonts/icons/icomoon.eot?8m935o#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?8m935o') format('truetype'),
    url('../fonts/icons/icomoon.woff?8m935o') format('woff'),
    url('../fonts/icons/icomoon.svg?8m935o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-additive:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-basket:before {
  content: "\e902";
  color: #fff;
}
.icon-calendar:before {
  content: "\e903";
  color: #00642f;
}
.icon-checkmark:before {
  content: "\e904";
  color: #00642f;
}
.icon-click:before {
  content: "\e905";
  color: #fff;
}
.icon-close:before {
  content: "\e906";
  color: #fff;
}
.icon-contact-info:before {
  content: "\e907";
  color: #00642f;
}
.icon-contract:before {
  content: "\e908";
  color: #00642f;
}
.icon-copy:before {
  content: "\e909";
  color: #fff;
}
.icon-create:before {
  content: "\e90a";
  color: #fff;
}
.icon-crown:before {
  content: "\e90b";
  color: #00642f;
}
.icon-cutting:before {
  content: "\e90c";
}
.icon-debt:before {
  content: "\e90d";
  color: #00642f;
}
.icon-discount:before {
  content: "\e90e";
  color: #00642f;
}
.icon-drawing:before {
  content: "\e90f";
  color: #00642f;
}
.icon-edit:before {
  content: "\e910";
  color: #00642f;
}
.icon-edit-2:before {
  content: "\e911";
  color: #fff;
}
.icon-email:before {
  content: "\e912";
  color: #00642f;
}
.icon-exit:before {
  content: "\e913";
  color: #3ab54a;
}
.icon-fasades:before {
  content: "\e914";
  color: #595959;
}
.icon-finish-product:before {
  content: "\e915";
  color: #595959;
}
.icon-fittings:before {
  content: "\e916";
  color: #595959;
}
.icon-header-phone:before {
  content: "\e917";
  color: #00642f;
}
.icon-home:before {
  content: "\e918";
  color: #fff;
}
.icon-interest:before {
  content: "\e919";
  color: #00642f;
}
.icon-load:before {
  content: "\e91a";
  color: #00642f;
}
.icon-magnifier:before {
  content: "\e91b";
  color: #00642f;
}
.icon-mail-2:before {
  content: "\e91c";
  color: #fff;
}
.icon-menu:before {
  content: "\e91d";
  color: #00642f;
}
.icon-message:before {
  content: "\e91e";
  color: #00642f;
}
.icon-missed-call:before {
  content: "\e91f";
  color: #00642f;
}
.icon-name:before {
  content: "\e920";
  color: #00642f;
}
.icon-name-company:before {
  content: "\e921";
  color: #00642f;
}
.icon-not-paid .path1:before {
  content: "\e922";
  color: rgb(255, 255, 255);
}
.icon-not-paid .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(205, 0, 0);
}
.icon-plate-materials:before {
  content: "\e924";
  color: #595959;
}
.icon-printer:before {
  content: "\e925";
  color: #00642f;
}
.icon-production-order:before {
  content: "\e926";
  color: #00642f;
}
.icon-refresh:before {
  content: "\e927";
  color: #fff;
}
.icon-sale:before {
  content: "\e928";
  color: #00642f;
}
.icon-score:before {
  content: "\e929";
  color: #00642f;
}
.icon-send:before {
  content: "\e92a";
  color: #fff;
}
.icon-shopping-bag:before {
  content: "\e92b";
  color: #00642f;
}
.icon-shopping-order:before {
  content: "\e92c";
  color: #00642f;
}
.icon-timer:before {
  content: "\e92d";
  color: #dcb900;
}
.icon-wait:before {
  content: "\e92e";
  color: #00642f;
}
.icon-waiting:before {
  content: "\e92f";
  color: #00642f;
}
.icon-ustomers:before {
  content: "\e930";
  color: #00642f;
}



// @font-face {
//   font-family: 'icomoon';
//   src:  url('../fonts/icons/icomoon.eot?csmtbf');
//   src:  url('../fonts/icons/icomoon.eot?csmtbf#iefix') format('embedded-opentype'),
//     url('../fonts/icons/icomoon.ttf?csmtbf') format('truetype'),
//     url('../fonts/icons/icomoon.woff?csmtbf') format('woff'),
//     url('../fonts/icons/icomoon.svg?csmtbf#icomoon') format('svg');
//     // url('../../fonts/icons/')
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

// [class^="icon-"], [class*=" icon-"] {
//   /* use !important to prevent issues with browser extensions that change fonts */
//   font-family: 'icomoon' !important;
//   speak: never;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .icon-checkmark:before {
//   content: "\e900";
//   color: #00642f;
// }
// .icon-contact-info:before {
//   content: "\e901";
//   color: #00642f;
// }
// .icon-crown:before {
//   content: "\e902";
//   color: #00642f;
// }
// .icon-email:before {
//   content: "\e903";
//   color: #00642f;
// }
// .icon-exit:before {
//   content: "\e904";
//   color: #3ab54a;
// }
// .icon-header-phone:before {
//   content: "\e905";
//   color: #00642f;
// }
// .icon-interest:before {
//   content: "\e906";
//   color: #00642f;
// }
// .icon-menu:before {
//   content: "\e907";
//   color: #00642f;
// }
// .icon-message:before {
//   content: "\e908";
//   color: #00642f;
// }
// .icon-name:before {
//   content: "\e909";
//   color: #00642f;
// }
// .icon-not-paid .path1:before {
//   content: "\e90a";
//   color: rgb(255, 255, 255);
// }
// .icon-not-paid .path2:before {
//   content: "\e90b";
//   margin-left: -1em;
//   color: rgb(205, 0, 0);
// }
// .icon-production-order:before {
//   content: "\e90c";
//   color: #00642f;
// }
// .icon-shopping-bag:before {
//   content: "\e90d";
//   color: #00642f;
// }
// .icon-shopping-order:before {
//   content: "\e90e";
//   color: #00642f;
// }
// .icon-timer:before {
//   content: "\e90f";
//   color: #dcb900;
// }
// .icon-wait:before {
//   content: "\e910";
//   color: #00642f;
// }
// .icon-waiting:before {
//   content: "\e911";
//   color: #00642f;
// }

