// Fonts
$font-main: 'Gilroy', sans-serif;


$light-gray: #E5E5E5;



// Colors
$grey:        #595959;
$green:       #00642F;
$light-green: #3AB54A;
$white:       #ffffff;
$dark-grey:   #C4C4C4;
$light-grey:  #DFDFDF;
$black:       #000000;
$yellow:      #DCB900;
