.about-order{
    background-color: $white;
    border-radius: 15px;
    .top{
        padding-left: 25px;
        position: relative;
         @media (max-width: 680px){
            padding-left: 15px;
        }
    }
    &__top-title{
        display: flex;
        flex-direction: column;
        margin-right: 34px;
        p{
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
        }
        span{
            font-size: 14px;
            line-height: 20px;
        }
    }
    &__wrapper{
        position: relative;
    }
    &__name-delivery{
        display: flex;
        align-items: center;
        margin-left: 35px;
        @media (max-width: 680px){
            margin-left: 0px;
            margin-top: 10px;
        }
        p{
            font-size: 14px;
            line-height: 16px;
            color: $black;
            margin-right: 7px;
            @media (max-width: 680px){
                margin-right: 15px;
            }
        }
    }
    &__payer{
        display: flex;
        align-items: center;
        margin-left: 30px;
        @media (max-width: 680px){
            margin-left: 0px;
            margin-top: 10px;
        }
        p{
            font-size: 14px;
            line-height: 16px;
            color: $black;
            font-weight: 400;
        }
        span{
            font-weight: 500;
            margin-left: 13px;
            margin-right: 10px;
        }
    }
    &__manager{
        margin-left: auto;
        min-width: 55px;
        position: relative;
        &:after{
            position: absolute;
            right:0;
            top: 10px;
            content: "\f107";
            font-family: "icomoon";
            font-size: 18px;
            transition: transform .3s;

        }
        @media (max-width: 680px){
            position: absolute;
            right: 15px;
            top: 12px;
        }
        &.active{
            &:after{
                transform: rotate(-180deg);
            }
        }
        &-icon{
            width: 36px;
            height: 36px;
            border: 1px solid #787878;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
        }
    }
    .icon-name{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        &:before{
            color: #787878;
        }
    }
    &:after{
        content: "";

    }
    &__item{
        display: flex;
        align-items: center;
        @media (max-width: 680px){
            flex-wrap: wrap;
            position: relative;
        }
        &.basket{
            padding-top: 25px;
            padding-bottom: 25px;
        }
        &-wrapper{
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 25px;
            padding-right: 30px;
            @media (max-width: 680px){
                margin-bottom: 60px;
                position: relative;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        &-image{
            min-width: 83px;
            height: 83px;
            background-color: #f8f8f8;
            border-radius: 5px;
            position: relative;
            margin-right: 23px;
            img{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &-name{
            max-width: 240px;
            width: 100%;
            p{
                font-size: 16px;
                line-height: 18px;
                color: $black;
                font-weight: 400;
                @media (max-width: 1024px){
                    font-size: 14px;
                }
            }
            span{
                font-size: 12px;
                line-height: 14px;
                color: $grey;
                @media (max-width: 680px){
                    position: absolute;
                    left: 10px;
                    top: 100px;
                    background-color: #f8f8f8;
                    padding: 5px 15px;
                    border-radius: 10px;
                }
            }
            &-services{
                margin-bottom: 15px;
            }
        }
    }
    &__item{
        padding-top: 10px;
        padding-bottom: 20px;
        @media (max-width: 680px){
            padding-bottom: 0px;
        }
        &-type{

            font-size: 16px;
            line-height: 18px;
            text-align: center;
        }
        &-cost{
            font-size: 14px;
            line-height: 17px;
            font-weight: 700;
            color: $green;
            text-align: center;
            &.basket{
                @media (max-width: 680px){
                    text-align: left;
                    padding-left: 10px;
                }
            }
        }
        &-amount{
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            color: $black;
            text-align: center;
        }
        &-price{
            padding-left: 30px;
            @media (max-width: 1096px){
                padding-left: 10px;
            }
            p{
                font-size: 20px;
                line-height: 24px;
                color: $green;
                font-weight: 700;
                position: relative;
                padding-bottom: 15px;
                @media (max-width: 1024px){
                    font-size: 16px;
                    line-height: 19px;
                }
            }
            span{
                font-size: 12px;
                line-height: 14px;
                color: #A0A0A0;
                position: relative;
            
                &:before{
                    position: absolute;
                    border: 1px solid #CC0000;
                    transform: rotate(-12deg);
                    content: "";
                    width: 100%;
                    top: 5px;
                }
            }
        }
    }
    &__border{
        width: auto;
        height: 1px;
        background-color: #e5e5e5;
        margin-left: 25px;
        margin-right: 25px;
    }
    &__general{
        padding-left: 24px;
        padding-right: 28px;
        padding-top: 10px;
        @media (max-width: 680px){
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &__delivery{
        display: flex;
        justify-content: space-between;
        p,
        span{
            font-size: 18px;
            line-height: 21px;
            font-weight: 400;
            color: $grey;
            @media (max-width: 680px){
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    &__together{
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        p{
            font-size: 18px;
            line-height: 21px;
            color: $grey; 
            font-weight: 600;
            @media (max-width: 680px){
                font-size: 14px;
                line-height: 18px;
            }
        }
        span{
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            color: $green;
            @media (max-width: 680px){
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    &__date-delivery{
        display: flex;
        margin-top: 12px;
        color: grey;
        @media (max-width: 500px){
            justify-content: space-between;
        }
        p{
            font-size: 18px;
            line-height: 21px;
            font-weight: 400;
            margin-right: 10px;
            @media (max-width: 680px){
                font-size: 14px;
                line-height: 18px;
            }
        }
        span{
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            @media (max-width: 680px){
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    &__buttons{
        display: flex;
        flex-wrap: wrap;
        padding: 0 28px 30px 24px;
        margin-top: 16px;
        margin-left: -10px;
        margin-right: -10px; 
        @media (max-width: 680px){
            padding: 0 10px 30px 10px;
        }
        @media (max-width: 350px){
            padding: 0 0px 30px 0px;
        }
    }
    &__modal{
        padding: 12px 18px 15px 18px;
        background-color: rgb(241, 238, 238);
        border-radius: 15px; 
        font-size: 14px;
        line-height: 17px;
        right: 0;
        top: 72px;
        position: absolute;
        z-index: 10;
        display: none;
        @media (max-width: 1024px){
            top: 111px;
        }
        @media (max-width: 680px){
            top: 65px;
        }
        &.is-active{
            display: block;
        }
        &-title{
            font-weight: 700;
            color: $green;
        }
        &-name,
        &-mail,
        &-phone{
            margin-top: 17px;
            padding-left: 23px;
            color: $grey;
            position: relative;
            cursor: pointer;
            &:before{
                position: absolute;
                left: 0;
                top: 0;
                font-family: "icomoon";
                color: $green;
                font-size: 14px;
            }
        }
        &-name{
            font-weight: 600;
            &:before{
                content: "\e920";
            }
        }
        &-mail{
            display: block;
            font-weight: 400;
            &:before{
                content: "\e912";
            }
        }
        &-phone{
            display: block;
            font-weight: 400;
            &:before{
                content: "\e917";
            }
        }
    }
}

.column-1{
    width: 45%;
    @media (max-width: 680px){
        width: 100%;
    }
}

.column-2{
    width: 11%;
    @media (max-width: 680px){
        position: absolute;
        left: 116px;
        top: 75px;
        width: auto;
    }
}

.column-3{
    width: 16%;
    @media (max-width: 680px){
        width: 33.3%;
    }
    &.basket{
        @media (max-width: 680px){
            width: 50%;
        }
    }
}
.column-4{
    width: 10%;
    @media (max-width: 680px){
        width: 33.3%;
    }
    &.basket{
        @media (max-width: 680px){
            width: 50%;
            text-align: end;
            padding-right: 10px;
        }
    }
}
.column-5{
    width: 18%;
    @media (max-width: 680px){
        width: 33.3%;
        text-align: center;
    }
}