.drop{
    &-1{
        width: 56px;
    }
    &-2{
        width: 63px;
    }
    &__box{
        font-size: 14px;
        line-height: 13.4px;
        text-transform: uppercase;
        color: $black;
    }
    &__btn{
        color: grey;
        background-color: #F8F8F8;
        font-weight: 400;
        display: block;
        padding: 12px 24px 8px 10px;
        border-radius: 5px; 
    }
    &__menu{
        border-top: 1px solid #E5E5E5;
        border-radius: 0px 0px 5px 5px;
        text-align: center;
        padding-top: 15px;
        background-color: #F8F8F8;
        position: absolute;
        width: 56px;
        display: none;
        li{
            margin-bottom: 12px;
            cursor: pointer;
        }
    }
    &__box{
        &.active{
            .drop__menu{
                display: block;
            }
            .drop__btn{
                border-radius: 5px 5px 0px 0px;
            }
        }
    }
}