.drop__down{
    @media (max-width: 680px){
        display: none;
    }
}

.drop{
    &-1{
        width: 56px;
        &.mobile{
            width: 48px;
            margin-left: auto;
        }
    }
    &-2{
        width: 63px;
    }
    &__box{
        font-size: 14px;
        line-height: 13.4px;
        text-transform: uppercase;
        color: $black;
        position: relative;
    }
    &__btn{
        display: block;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: #5b5b5b;
        
        &-1{
            color: $black;
            background-color: #F8F8F8;
            font-weight: 600;
            padding: 12px 24px 8px 10px;
            border-radius: 5px;
            &:after{
                position: absolute;
                top: 11px;
                right: 10px;
                content: "\f107";
                font-family: "icomoon";
                font-size: 18px;
                color: $black;
                font-weight: 400;
                transition: transform .3s;
            }
            &.active{
                &:after{
                    transform: rotate(-180deg);
                }
            }
            &.mobile{
                background-color: #fff;
                padding: 7px 20px 5px 12px;
                font-size: 12px;
                line-height: 14px;
                &:after {
                    top: 7px;
                    right: 6px;
                    font-size: 14px;
                }
            }
            
           
        }
        &-2{
            background-color: $white;
            line-height: 40px;
            padding-left: 16px;
            border-radius: 15px;
            position: relative;
            &:after{
                position: absolute;
                top: 0;
                right: 10px;
                content: "\f107";
                font-family: "icomoon";
                font-size: 22px;
                color: #00642f;
                font-weight: 700;
                transition: transform .3s;
            }
            &.active{
                &:after{
                    transform: rotate(-180deg);
                }
            }
        }
    }
    &__menu{
        border-top: 1px solid #E5E5E5;
        text-align: center;
        padding-top: 15px;
        display: none;
        font-weight: 400;
        position: absolute;
        left: 0;
        right: 0;
        &-1{
            font-weight: 600;
            border-radius: 0px 0px 5px 5px;
            background-color: #F8F8F8;
            z-index: 10;
        }
        &-2{
            border-radius: 0px 0px 15px 15px;
            background-color: $white; 
            // padding-bottom: 1px;
        }
        li{
            margin-bottom: 12px;
            cursor: pointer;
        }
    }
    &__box{
        &.active{
            .drop__menu{
                display: block;
            }
            .drop__btn-1{
                border-radius: 5px 5px 0px 0px;
            }
            .drop__btn-2{
                border-radius: 15px 15px 0px 0px;
            }
        }
    }
}