.footer{
    padding-top: 60px;
    @media (max-width: 768px){
        padding-top: 30px;
    }
    &__line{
        width: 100%;
        height: 1px;
        background-color: #C0C0C0;
        @media (max-width: 680px){
            margin-left: -15px;
            margin-right: -15px;
            width: auto;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 56px;
        margin-bottom: 60px;
        @media (max-width: 768px){
            margin-top: 27px;
        }
        @media (max-width: 600px){
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
    }
    &__item{
        &-title{
            font-size: 14px;
            line-height: 17px;
            font-weight: 600;
            color: $green;
        }
        &-box{
            margin-top: 12px;
        }
        &-name{
            font-size: 14px;
            line-height: 25px;
            font-weight: 400;
            color: $grey;
            padding-left: 10px;
            position: relative;
            &:before{
                position: absolute;
                left: 0;
                top: 5px;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $green;
            }
        }
        &-block{
            max-width: 620px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            @media (max-width: 1024px){
                width: auto;
                flex-direction: column-reverse;
                img{
                    width: 155px;
                }
            }
            @media (max-width: 600px){
                margin: 0 auto;
                margin-top: -20px;
            }
            a{
                @media (max-width: 600px){
                    margin-left: auto;
                }
            }
            
        }
        &:first-child{
            @media (max-width: 600px){
                width: 50%;
            }
        }
        &:nth-child(2){
            @media (max-width: 400px){
                width: 50%;
            }
        }

    }
    &__block{
        @media (max-width: 600px){
            order: -1;
            margin-top: 10px;
        }
        &-title{
            font-size: 14px;
            line-height: 17px;
            font-weight: 600;
            color: $green;
            margin-top: 30px;
            @media (max-width: 1024px){
                display: none;
            }
            @media (max-width: 600px){
                display: block;
                margin-top: 12px;
            }
        }
        &-wrap{
            margin-top: 8px;
            @media (max-width: 1024px){
                display: none;
            }
            @media (max-width: 600px){
                display: block;
            }
        }
        &-item{
            background-color: $dark-grey;
            width: 130px;
            height: 54px;
            border-radius: 15px;
            display: inline-block;
            &.first{
                margin-right: 28px;
            }
        }
        
    }
    &__bottom{
        background-color: $green;
        &-text{
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            color: $white;
            line-height: 25px;
            text-align: center;
        }
    }
}
