.header__menu{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1141px;
    width: 100%;
    z-index: 10;
    transition: top 0.5s;
    &.to-active{
        top: 85px;
        transition: top 0.5s;
        @media (max-width: 680px){
            top: 103px;
        }
    }
    @media (max-width: 680px){
        top: -286px;
    }
    &-wrapper{
        height: 105px;
        background: #FBFBFB;
        box-shadow: 0px 4px 10px rgba(99, 99, 99, 0.2);
        border-radius: 0px 0px 30px 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: 1024px){
            align-items: start;
            padding-top: 14px;
        }
        @media (max-width: 680px){
            flex-direction: column;
            height: 390px;
        }
    }
    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 680px){
            flex-direction: row;
            align-items: center;
            margin-left: 20px;
        }
        svg path{
            fill: $grey;
        }
        &-image{
            svg{
                @media (max-width: 1024px){
                    height: 34px;
                    width: 34px;
                }
            }
        }
        &-title{
            color: $grey;
            font-size: 14px;
            line-height: 16px;
            margin-top: 5px;
            font-weight: 400;
            @media (max-width: 1024px){
                width: 80px;
                text-align: center;
                font-size: 12px;
                line-height: 14px;
            }
            @media (max-width: 680px){
                width: auto;
                margin-left: 25px;
            }
        }
        &.active{
            svg path{
                fill: $green;
            }
            .header__menu-item-title{
                color: $green;
                font-weight: 500;
            }
        }
    }
    form{
        position: relative;
        @media (max-width: 1024px){
            margin-top: 25px;
        }
        @media (max-width: 680px){
            margin-top: 0px;
            margin-left: 20px;
            margin-bottom: 25px;
        }
    }
    input{
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 9px;
        border: none;
        border-bottom: 1px solid $green;
        font-style: italic;
        width: 242px;
        padding-right: 20px;
        outline: none;
        background: none;
        @media (max-width: 1024px){
            width: 175px;

        }
    }
    &-form-search{
        width: 17px;
        height: 17px;
        position: absolute;
        right: 0px;
        top: 2px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer; 
        &:before{
            position: absolute;
            content: "\e91b";
            font-family: "icomoon";
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
            color: $green
        }
    }
    &-btn{
        width: 186px;
        height: 24px;
        background: #FBFBFB;
        box-shadow: 0px 4px 10px rgba(99, 99, 99, 0.2);
        border-radius: 0px 0px 20px 20px;
        margin: 0 auto;
        margin-top: 1px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 7px;
        cursor: pointer;
       
        &-line{
            width: 28px;
            height: 2px;
            background-color: $green;
            display: inline-block;
            margin-bottom: 3px;
        }
    }
}

