.my-discount{
    &__item{
        display: flex;
        justify-content: space-between;
        @media (max-width: 680px){
            flex-direction: column;
        }
        &-block{
            border-radius: 15px;
            background-color: #fff;
            height: 155px;
            max-width: 445px;
            width: 100%;
            margin-right: 10px;
            @media (max-width: 680px){
                max-width: 100%;
                margin-right: 0px;
                height: 182px;
            }
        }
        &-next{
            background-color: $white;
            height: 155px;
            border-radius: 15px;
            max-width: 417px;
            width: 100%;
            margin-left: 10px;
            @media (max-width: 680px){
                max-width: 100%;
                margin-left: 0px;
                margin-top: 10px;
                height: 182px;
            }
        }
    }
    &__box{
        background-color: $white;
        border-radius: 15px;
        margin-top: 30px;
        // display: none;
    }
    &__top-btn{
        display: flex;
        align-items: center;
        margin-left: auto;
        flex-wrap: wrap;
        max-width: 240px;
        width: 100%;
        @media (max-width: 540px){
            max-width: 100%;
            margin-top: 10px;
        }
    }
    &__period{
        display: flex;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 27px;
        padding-left: 22px;
        position: relative;
        @media (max-width: 680px){
            flex-wrap: wrap;
            padding-top: 32px;
            padding-left: 0px;
        }
        &-item{
            margin-right: 28px;
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            @media (max-width: 1024px){
                font-size: 14px;
                line-height: 16px;
                margin-right: 25px;
            }
            @media (max-width: 680px){
                position: absolute;
                left: 10px;
                top: 33px;
            }
        }
        &-before{
            display: flex;
            align-items: center;
            margin-right: 30px;
            @media (max-width: 680px){
                flex-direction: column;
                width: 50%;
                margin-right: 0px;
            }
            p{
                margin-right: 8px;
                @media (max-width: 680px){
                    margin-bottom: 9px;
                }
            }
        }
        &-after{
            display: flex;
            align-items: center;
            margin-right: 34px;
            @media (max-width: 680px){
                flex-direction: column;
                width: 50%;
                margin-right: 0px;
            }
            p{
                margin-right: 13px;
                @media (max-width: 680px){
                    margin-bottom: 9px;
                }
            }
        }
    }
    &__table{
        color: #5B5B5B;
        font-size: 14px;
        width: 100%;
        thead{
            @media (max-width: 680px){
                display: none;
            }
        }
    }
    &__row{
        padding-left: 19px;
        padding-right: 19px;
        border-top: 1px solid #CCE3D8;
        background-color: $white;
        display: flex;
        align-items: center;
        height: 70px;
        &.title{
            height: 54px;
            background-color: #F3F9F6;
        }
        &:nth-child(2n){
            background-color: #F3F9F6;
        }
        @media (max-width: 680px){
            flex-wrap: wrap;
            height: auto;
            border-top: none;
            border: 1px solid #CCE3D8;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 19px;
            margin-right: 19px;
            margin-bottom: 10px;
            border-radius: 15px;
            // &:nth-child(2n){
            //     background-color: #fff;
            // }
            background-color: #F3F9F6;
        }
    }

    &__title{
        text-align: left;
        font-weight: 500;
        line-height: 16px;
        &:last-child{
            color: #CD0000;
        }
        @media (max-width: 1024px){
            font-size: 12px;
        }
       
    }
    &__name{
        font-weight: 400;
        line-height: 19px;
        position: relative;
        &:first-child{
            font-weight: 500;
            @media (max-width: 680px){
                font-size: 12px;
            }
        }
        &:last-child{
            color: #CD0000;
            font-weight: 500;
        }
        @media (max-width: 680px){
            height: 50px;
            display: flex;
            align-items: center;
            border-top: 1px solid #CCE3D8;
            &:first-child,
            &:nth-child(3),
            &:last-child{
                border-top: none;
            }
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6){
                margin-left: -10px;
                margin-right: -10px;
                width: -webkit-fill-available;
            }
        }
        &-subtitle{
            display: none;
            @media (max-width: 680px){
                display: block;
                position: absolute;
                left: 11px;
                top: 50%;
                transform: translate(0, -50%);
                font-size: 12px;
                font-weight: 500;
                width: 115px;
            }
        }
        &-item{
            @media (max-width: 680px){
                margin-left: 65%;
                font-size: 12px;
                font-weight: 500;
            }
        }
        &-delay{
            display: none;
            @media (max-width: 680px){
                display: inline;
                font-size: 12px;
                font-weight: 500;
            }
        }
        &-number{
            font-size: 12px;
        }
        &-day{
            display: none;
            @media (max-width: 680px){
                display: inline;
                margin-left: 3px;
                font-size: 12px;
            }
        }
        &-expiration{
            display: none;
            @media (max-width: 680px){
                display: inline;
                font-size: 12px;
            }
        }
        &-num{
            @media (max-width: 680px){
                font-size: 12px;
            }
        }
        &:nth-child(2),
        &:nth-child(5){
            @media (max-width: 680px){
                background-color: $white;
            }
        }
        &.mobile-block{
            @media (max-width: 680px){
                display: none;
            }
            &.active{
                &.mobile-block{
                    display: flex;
                }
            }
        }
    }
}

.icon-debt,
.icon-discount{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 22px;
    @media (max-width: 680px){
        font-size: 14px;
    }
}

.block-1{
    width: 12%;
    @media (max-width: 680px){
        width: 33.3%;
    }
}
.block-2{
    width: 11%;
    @media (max-width: 1024px){
        padding-right: 15px
    }
    @media (max-width: 680px){
        order: 1;
        width: 100%;
        padding-right: 0px;
    }
}
.block-3{
    width: 13%;
    padding-right: 30px;
    @media (max-width: 1024px){
        padding-right: 40px;
    }
    @media (max-width: 680px){
        width: 33.3%;
        padding-right: 20%;
        flex-wrap: wrap;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    @media (max-width: 460px){
        padding-right: 12%;
    }
    @media (max-width: 330px){
        padding-right: 10%;
    }
}
.block-4{
    width: 14%;
    padding-right: 30px;
    @media (max-width: 1024px){
        padding-right: 50px;
    }
    @media (max-width: 680px){
        order: 1;
        width: 100%;
        padding-right: 0px;
    }
}
.block-5{
    width: 19%;
    @media (max-width: 1024px){
        padding-right: 40px;
    }
    @media (max-width: 768px){
        padding-right: 0px;
    }
    @media (max-width: 680px){
        order: 1;
        width: 100%;
    }
}
.block-6{
    width: 20%;
    @media (max-width: 1024px){
        padding-right: 25px;
    }
    @media (max-width: 768px){
        padding-right: 0px;
    }
    @media (max-width: 680px){
        order: 1;
        width: 100%;
    }
}
.block-7{
    width: 11%;
    @media (max-width: 680px){
        width: 33.3%;
        flex-wrap: wrap;
        padding-right: 120px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    @media (max-width: 460px){
        padding-right: 40px;
    }
}