.top{
    display: flex;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 21px;
    padding-right: 21px;
    border-bottom: 1px solid $light-gray;
    @media (max-width: 768px){
        // padding-left: 10px;
        // padding-right: 10px;
        padding: 10px;
    }
    @media (max-width: 680px){
        padding-top: 15px;
    }
    &.border{
        border-bottom: none;
    }
    &__icon{
        width: 36px;
        height: 36px;
        border: 1px solid $green;
        border-radius: 50%;
        margin-right: 16px;
        position: relative;
    }
    &__title{
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        color: $black;
    }
    &__help-btn{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #F8F8F8;
        color: red;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
        font-weight: 400;
        color: $green;
        margin-left: auto;
        // margin-right: 10px;
    }
}

.icon-contact-info,
.icon-shopping-bag,
.icon-production-order{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
