.top{
    display: flex;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 21px;
    padding-right: 21px;
    border-bottom: 1px solid $light-gray;
    &__order{
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px){
            flex-direction: column;
            align-items: flex-start;
        }
    }
    
    @media (max-width: 768px){
        padding: 12px;
        flex-wrap: wrap;
    }
    &.border{
        border-bottom: none;
    }
    &__wrapper{
        display: flex;
        max-width: 205px;
        width: 100%;
    }
    &__block{
        display: flex;
        align-items: center;
        width: calc(100% - 205px);
        @media (max-width: 1024px){
            width: 100%;
        }
        @media (max-width: 680px){
            flex-direction: column;
            align-items: flex-start;
            margin-top: 10px;
        }
    }
    &__icon{
        width: 36px;
        height: 36px;
        border: 1px solid $green;
        border-radius: 50%;
        margin-right: 16px;
        position: relative;
        @media (max-width: 720px){
            margin-right: 8px;
        }
        @media (max-width: 680px){
            width: 26px;
            height: 26px;
        }
    }
    &__title{
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        color: $black;
        @media (max-width: 680px){
            font-size: 14px;
            line-height: 18px;
        }
    }
    &__help-btn{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #F8F8F8;
        color: red;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
        font-weight: 400;
        color: $green;
        margin-left: auto;
        // margin-right: 10px;
        &.my-discount{
            position: absolute;
            right: 12px;
            top: 12px;
        }
    }
    &__my-discount{
        position: relative;
    }
}

.icon-contact-info,
.icon-shopping-bag,
.icon-production-order,
.icon-email{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    @media (max-width: 680px){
        font-size: 14px;
    }
}
